/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Bungee&family=Roboto+Mono&display=swap');

html {
    scroll-behavior: smooth;
}

/* main colors

"#660000" or "rgb(102, 0, 0)": Blood Red
+++"#D4AF37" or "rgb(212, 175, 55)": Gold Metallic
"#CBA135" or "rgb(203, 161, 53)": Satin Sheen Gold
"#1C1C1C" or "rgb(28, 28, 28)": Eerie Black
"#36454F" or "rgb(54, 69, 79)": Charcoal
+++"#c0c0c0" or "rgb(192, 192, 192)": Silver
"#ACACAC" or "rgb(172, 172, 172)": Silver Chalice

*/

/* Resolution breakpoints

360x640 min res
1920x1080 max res

@media only screen and (max-width:600px) {

}

@media only screen and (min-width:600px) {

}

@media only screen and (min-width:768px) {

}

@media only screen and (min-width:992px) {

}

@media only screen and (min-width:1200px) {

}

*/
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    color: #c0c0c0;
    background-color: #1c1c1c;
    text-rendering: optimizeLegibility;
}

h2, h3 {
    font-family: 'Aldrich', sans-serif;
}

h1 {
    font-family: 'Bungee', cursive;
    font-size: 8em;
    line-height: .85em;
    text-align: center;
}

h2 {
    font-size: 4em;
    padding-left: .5em;
    text-transform: uppercase;
}

h3 {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: #cba135;
}

p {
    line-height: 1.2em;
}

.temp{
    margin-top: 35vh;
}