body {
    display: flex;
    flex-wrap: wrap;
}

/* SECTION ONE */

.bios {
    background-color: #660000;
    overflow: hidden;
    flex-basis: 320px;
    flex-shrink: 0;
    flex-grow: 0;
}

.bios>div {
    margin: 1em;
}

.profpic {
    text-align: center;
}

.profpic img {
    border-radius: 8px;
    margin-bottom: 1em;
}

.title {
    text-align: center;
    margin-bottom: 1em;
}

.title h1 {
    font-size: 1.5em;
}

.title h2 {
    font-size: 1em;
}

.contact-data {
    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: 48px;
    grid-template-areas: "icon text";
    margin: 1em 0;
    align-items: center;
}

.contact a {
    color: #ACACAC;
}

.contact-data:hover {
    color: #CBA135;
    transition: 500ms;
}

.contact-icon {
    grid-area: icon;
    text-align: center;
}

.contact-text {
    grid-area: text;
}

.contact-text h3 {
    font-size: 1em;
}

.contact-text p {
    font-size: 0.75em;
}

/* SECTION TWO */

.info {
    background-color: #1C1C1C;
    overflow: hidden;
    flex-basis: 576px;
    flex-shrink: 0;
    flex-grow: 1;
}

.info>div {
    margin: 1em;
}

.projects {
    display: flex;
    overflow-x: scroll;
}

.project {
    display: grid;
    grid-template-columns: 256px;
    grid-template-rows: 256px 208px 48px;
    grid-template-areas: "image"
        "text"
        "link";

    border-radius: 8px;
    background-color: #1C1C1C;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 1em;
}

.project:hover {
    background-color: #36454F;
    scale: 1.05;
    transition: 250ms;
}

.project-image {
    grid-area: image;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: cover;
    overflow: hidden;
}

.project-text {
    grid-area: text;
    margin: 25px;
}

.project-text .date {
    color: #CBA135;
    font-size: 1em;
}

.project-text p {
    font-size: 0.8em;
}

.project-text h2 {
    margin-top: 0px;
    font-size: 1.7em;
}

.project-link {
    grid-area: link;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #660000;
    padding: 12px;
}

.experience {
    display: flex;
    flex-wrap: wrap;
}

.position {
    display: grid;
    grid-template-columns: 128px 384px;
    grid-template-rows: 128px;
    grid-template-areas: "image text";

    border-radius: 8px;
    background-color: #1C1C1C;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.9);
    text-align: left;
    margin: 1em;
}

.position:hover {
    background: #36454F;
    scale: 1.05;
    transition: 250ms;
}

.position-image {
    grid-area: image;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: cover;
    overflow: hidden;
}

.position-text {
    grid-area: text;
    margin: 8px;
}

.position-text .date {
    color: #CBA135;
    font-size: 1em;
}

.position-text p {
    font-size: 0.8em;
}

.position-text h2 {
    margin-top: 0px;
    font-size: 1.7em;
    padding-left: 0;
}

.skills-title {
    display: flex;
}