html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #36454f;
    color: #acacac;
    text-align: center;
    font-family: sans-serif;
}

p {
    line-height: 1.5;
}

blockquote {
    margin-top: 32px;
}

.float {
    position: absolute;
    font-size: .75rem;
}

.header {
    width: 100%;
    height: 6rem;
    align-items: center;
}

.header h1 {

    font-size: 2rem;
    padding: 2rem;
    color: #cba135;
}

section {
    background-color: #1c1c1c;
    border-radius: 4px;
    margin: 2px;
    padding: 1rem;
}

.intro-header {
    font-size: 1.5rem;
    font-style: italic;
}

.me a {
    text-decoration: none;
    color: #cba135;
}

.intro-background {
    padding: 2rem 0;
}

.intro-background p {
    padding: 0 4rem;
}

.about-item {
    margin: 64px 0;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 64px 0;
}

.skill {
    width: 192px;
    margin: 32px;
}

.skill h4 {
    margin-top: 16px;
    font-size: 1.2rem;
}

.experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exp {
    margin: 32px;
    width: 192px;
}

.exp h4 {
    margin-top: 16px;
    font-size: 1.2rem;
}

.exp cite {
    font-size: 0.8rem;
}

.exp p {
    margin: 16px 0;
}

.pillars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 64px 0;
}

.pillar {
    width: 192px;
}

.pillar h4 {
    margin: 16px 0;
    font-size: 1.2rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.card {
    display: grid;
    margin: 8px;
    border-width: 4px;
    border-style: solid;
    border-color: #660000;
    border-radius: 8px;
    grid-template-columns: 256px;
    grid-template-rows: 256px 4rem 96px 32px;
    grid-template-areas: "image" "title" "description" "link";
    text-align: justify;
    background-color: #acacac;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}

.card-image {
    grid-area: image;
    border-radius: 4px 4px 0 0;
    background-color: #600;
    overflow: hidden;
}

.card-title {
    padding: 1rem 0;
    font-size: 1.2rem;
    grid-area: title;
    text-align: center;
    color: #1c1c1c;
}

.card-desc {
    grid-area: description;

    margin: 16px;
    white-space: normal;
    text-overflow: ellipsis;
    color: #1c1c1c;
}

.card-button {
    grid-area: link;
}

a.card-button {
    display: inline-block;
    background-color: #1c1c1c;
    color: #acacac;
    text-decoration: none;
    padding: 0.5em 0;
    text-align: center;

    transition: color 0.5s ease-in-out,
        background-color 0.5s ease-in-out;
}

a.card-button:hover {
    background-color: #cba135;
    color: #1c1c1c;
}

.softntools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.software {
    width: 256px;
    margin: 32px 16px;
}

.software img {
    margin: 16px;
}

.trophies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
}

.trophy {
    width: 256px;
    margin: 32px 16px;
}

.gic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact {
    margin: 16px;
}