/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Bungee&family=Roboto+Mono&display=swap');

html {
    scroll-behavior: smooth;
}

/* main colors

"#660000" or "rgb(102, 0, 0)": Blood Red
"#D4AF37" or "rgb(212, 175, 55)": Gold Metallic
"#CBA135" or "rgb(203, 161, 53)": Satin Sheen Gold
"#1C1C1C" or "rgb(28, 28, 28)": Eerie Black
"#36454F" or "rgb(54, 69, 79)": Charcoal
"#c0c0c0" or "rgb(192, 192, 192)": Silver
"#ACACAC" or "rgb(172, 172, 172)": Silver Chalice

*/

/* Resolution breakpoints

360x640 min res
1920x1080 max res

@media only screen and (max-width:600px) {

}

@media only screen and (min-width:600px) {

}

@media only screen and (min-width:768px) {

}

@media only screen and (min-width:992px) {

}

@media only screen and (min-width:1200px) {

}

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    background-color: #1C1C1C;
    color: #c0c0c0;
    text-rendering: optimizeLegibility;
}

h2, h3{
    font-family: 'Aldrich', sans-serif;
}

h1 {
    font-family: 'Bungee', cursive;
    font-size: 8em;
    text-align: center;
}

h2 {
    font-size: 4em;
    text-transform: uppercase;
    padding-left: 0.5em;
}

h3 {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: #c0c0c0;
}

p {
    line-height: 1.2em;
}





/* FOLD SECTION */

#fFold {
    position: relative;
    background-color: #660000;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/*.fFold-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}*/





/* NAVIGATION BAR */

.button{
    font-family: 'Roboto Mono', monospace;
    background-color: #CBA135;
    border: 0;
    color: #1C1C1C;
    width: 120px;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover{
    background-color: #660000;
    color: #C0C0C0;
}

.fNav div .button:nth-child(6){
    width: 50px;
    background-color: blue;
}

.fNav {
    position: sticky;
    top: 0;
    text-align: center;
}

.fNav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.fNav ul li {
    list-style-type: none;
    /*flex-grow: 0;
    flex-shrink: 0;*/
    flex-basis: 100px;
    background-color: #CBA135;
    padding: 15px 10px;
    text-align: center;
}

.fNav ul li:last-child {
    flex-basis: 60px;
}

.fNav ul li:hover {
    background-color: #660000;
}

.fNav ul li a {
    color: #1C1C1C;
}

.fNav ul li a:hover {
    color: #C0C0C0;
}




/* ABOUT SECTION */

.fMe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fMe .fProfoto {
    width: 256px;
    margin: 16px;
}

.fMe .fBio {
    min-width: 256px;
    max-width: 1024px;
    text-align: justify;
    margin: 16px;
}





/* SERVICES SECTION */

#fServices {
    background-color: #36454F;
}

.fServices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.fServ {
    width: 256px;
    height: 256px;
    text-align: center;
    margin: 4px;
    padding: 16px;
}

.fServ img {
    height: 128px;
}





/* PROJECTS SECTION */

.fProjects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.fProjectcard {
    display: grid;
    grid-template-columns: 256px;
    grid-template-rows: 256px 192px;
    grid-template-areas: "image""text";
    border-radius: 4px;
    background: #660000;
    text-align: justify;

    border-style: solid;
    border-color: #c0c0c0;
    border-width: 8px;
    margin: 4px;

    transition: 0.5s ease;
    cursor: pointer;
}

.fProjectcard-image {
    grid-area: image;
    background-color: #660000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-size: cover;
    background: linear-gradient(#fff0 0%, #fff0 70%, #660000 100%), url(../images/itisme_web256.jpg);
}

.fProjectcard-text {
    grid-area: text;
    margin: 16px;
}

.fProjectcard-text .kind {
    font-size: 12px;
}

.fProjectcard-text p {
    font-size: 16px;
}

.fProjectcard-text h2 {
    margin-top: 0px;
    font-size: 28px;
    padding-left: 0em;
}

.fProjectcard:hover {
    /*transform: scale(1.2);*/
}





/* CONTACT SECTION */

#fContact {
    background-color: #36454F;
}

#fContact p {
    margin: 16px;
}





/* BLOG ROLL SECTION */

.fBlogroll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.fBlogcard {
    display: grid;
    grid-template-columns: 256px;
    grid-template-rows: 192px 192px 64px;
    grid-template-areas: "image""text""stats";
    border-radius: 4px;
    background: #CBA135;
    text-align: center;

    border-style: solid;
    border-color: #c0c0c0;
    border-width: 8px;
    margin: 4px;

    transition: 0.5s ease;
    cursor: pointer;
}

.fBlogcard-image {
    grid-area: image;
    background-color: #660000;
    background-image: url(../images/itisme_web256.jpg);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-size: cover;
}

.fBlogcard-text {
    grid-area: text;
    margin: 16px;
    color: #1C1C1C;
}

.fBlogcard-text .date {
    font-size: 12px;
}

.fBlogcard-text p {
    font-size: 16px;
}

.fBlogcard-text h2 {
    margin-top: 0px;
    font-size: 28px;
    padding-left: 0em;
}

.fBlogcard-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #660000;
}

.fBlogcard-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 10px;
}

.fBlogcard:hover {
    /*transform: scale(1.2);*/
}





/* FOOTER SECTION */

.footer {
    background-color: #36454F;
}

.fSNS {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fSNS-button {
    height: 64px;
    width: 64px;
    background-color: #ACACAC;
    border-radius: 4px;
    margin: 4px;
    text-align: center;
}

.fSNS-button img {
    height: 56px;
    width: 56px;
    margin-top: 4px;
}

.fFooternav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fFooternav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fFooternav div {
    width: 256px;
    margin: 4px;
    padding: 16px;
    line-height: 200%;
}

.fFooternav div ul li {
    list-style-type: none;
}


.fDisclaimer {
    margin: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
