html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: monospace;
    font-size: 1em;
    line-height: 1.5;
    color: #ACACAC;
    background-color: #1c1c1c;
    text-rendering: optimizeLegibility;
    margin: 0 0 0 320px;
}

section.options {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100vh;
    background-color: #660000;
    border-right: 2px solid rgba(255, 255, 255, 0.5);

    padding: 48px;
}

h1 {
    font-weight: bold;
    font-size: 24px;
}

div.option {
    margin: 24px 0 0 0;
}

div.option-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    display: block;
    margin: 0 0 8px 0;
}

label span {
    float: right;
    font-style: italic;
}

input[type="text"] {
    width: 100%;
    background-color: #ACACAC;
    color: #660000;
    padding: 4px 8px;
}

input[type="range"] {
    width: 100%;

}

select {
    width: 100%;
}

textarea.output {
    font-size: 64px;
    width: 100%;
    background: none;
    color: #ACACAC;
    border: none;
    outline: none;
    min-height: 100vh;
    font-family: serif;
    padding: 48px;
}

div.colors {
    display: flex;
}

div.colors div {
    width: 32px;
    height: 32px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 25%;
    text-align: center;
    margin: 8px 8px 0 0;
    transition: border 0.5s;
}

div.colors div.selected {
    border: 4px solid white;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: grey;
    border-radius: 25%;
    outline: none;
    transition: background-color 0.5s;
}

input[type="checkbox"]:checked {
    background-color: black;
}