@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;

    background-color: #36454F;
    color: #1c1c1c;
    /*margin: 32px auto;
    width: 640px;*/
}

nav {
    position: fixed;
    top: 0;
    left: -240px;
    width: 240px;
    height: 100vh;
    background-color: #660000;

    font-family: monospace;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: left 0.5s;

    z-index: 2;
}

nav.open {
    left: 0;
}

nav a {
    color: #acacac;
    text-decoration: none;
    margin: 5px 32px;
}

main {
    position: relative;
    z-index: 1;
    background-color: #36454F;
    min-height: 100vh;
    transition: transform 0.5s;
    overflow: hidden;
}

a.toggle-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 24px;
    color: #CBA135;
    text-decoration: none;

    z-index: 3;
}

a.toggle-nav img {
    margin-right: 8px;
    vertical-align: middle;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section div {
    width: 360px;
}

section div.content {
    margin-left: 32px;
}

h1 {
    font-size: 48px;
    line-height: 1;
}

p {
    line-height: 1.5;
    margin: 24px 0;
}

a.button {
    display: inline-block;
    background-color: #660000;
    color: #acacac;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5%;
}

a.button:hover {
    color: #1c1c1c;
    background-color: #CBA135;
    transition: 0.5s;
}

div.slide {
    height: 512px;
    position: relative;
}

div.slide img {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s, box-shadow 0.5s;
    border-radius: 16px;
}

div.slide img:first-child {
    z-index: 1;
}

div.slide:hover img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}